[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ale"]
	path = ale
	url = https://github.com/tripartio/ale
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	registered = false
