[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ale"]
	path = ale
	url = https://github.com/tripartio/ale
[submodule "autogam"]
	path = autogam
	url = https://github.com/tripartio/autogam
[submodule "staccuracy"]
	path = staccuracy
	url = https://github.com/tripartio/staccuracy
